.food {
    border-radius: 25px;
    width: 500px;
    height: auto;
    border: 5px solid rgba(19, 21, 16, 0.692);
}

.ingredients li {
    font-family: Cursive, sans-serif;
}

.page {
    background-color: rgb(252, 177, 168);
}

body h1,h2 {
    background-color: hotpink;
    font-weight: 200;
    
}

body h1 {
    font-size: 40px;
}

body h2 {
    font-size: 25px;
}

